:root {
  --legend-color-1: #FFA07A;
  --legend-color-2: #F08080;
  --legend-color-3: #CD5C5C;
  --legend-color-4: #DC143C;
  --legend-color-5: #B22222;
  --legend-color-6: #FF0000;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

.header .title {
  font-size: 20px;
  line-height: 30px;
}

.bold {
  font-weight: bold;
}

.inline {
  display: inline;
}

.button {
  box-shadow: inset 0px 1px 0px 0px #9acc85;
  background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
  background-color: #74ad5a;
  border: 1px solid #3b6e22;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  padding: 6px 12px;
  text-decoration: none;
}

.button:hover {
  background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	background-color:#68a54b;
}

.button:active {
  position:relative;
	top:1px;
}

.button.on {
	opacity: 0.9;
}

.mr-1 {
  margin-right: 0.25rem !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}



a {
  text-decoration: none;
  color: black;
}

.dot {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  display: inline-block;
}

.legend-title {
  font-weight: bold;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
}

.legend-list div:nth-child(1) .dot {
  background-color: var(--legend-color-1);
}

.legend-list div:nth-child(2) .dot {
  background-color: var(--legend-color-2);
}

.legend-list div:nth-child(3) .dot {
  background-color: var(--legend-color-3);
}

.legend-list div:nth-child(4) .dot {
  background-color: var(--legend-color-4);
}

.legend-list div:nth-child(5) .dot {
  background-color: var(--legend-color-5);
}

.legend-list div:nth-child(6) .dot {
  background-color: var(--legend-color-6);
}

input[type=range] {
  height: 26px;
  -webkit-appearance: none;
  margin: 10px 0;
  background-color: gray;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #FFA07A;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001C;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FFA07A;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #FFA07A;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001C;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #FFA07A;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #FFA07A;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001C;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #FFA07A;
}
input[type=range]:focus::-ms-fill-upper {
  background: #FFA07A;
}

.current-date {
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 10px;
  width: 60px;
  position: relative;
  top: -4px;
}

.date-slider {
  width: calc(100% - 100px);
}

.click-layer {
  height: 40px;
  opacity: 0.3;
}
